@using DagoWebPortfolio.Models;
@using DagoWebPortfolio.Models.CustomHelpers
@model DagoWebPortfolio.Models.ContactViewModel
@{
    // ENGLISH
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/" + ViewBag.Culture + "/_Layout.cshtml";

    // projects variables
    var projects = (List<ProjectsViewModel>
    )ViewBag.Projects;

    // pictures variables
    PicturesViewModel picture = (PicturesViewModel)ViewBag.Picture;

    // education variables
    List<EducationViewModel>
        education = (List<EducationViewModel>
            )ViewBag.Education;
    string[] _glyphicons = new string[4];
    _glyphicons[0] = "glyphicon-check";
    _glyphicons[1] = "glyphicon-credit-card";
    _glyphicons[2] = "glyphicon-floppy-disk";
    _glyphicons[3] = "glyphicon-thumbs-up";

    // experiences variables
    List<ExperiencesViewModel>
        experiences = (List<ExperiencesViewModel>
            )ViewBag.Experiences;
    string[] _colors_class = new string[5];
    var rd = new Random();
    var count = 0;
    _colors_class[0] = "primary";
    _colors_class[1] = "success";
    _colors_class[2] = "warning";
    _colors_class[3] = "danger";
    _colors_class[4] = "info";

    List<SkillsViewModel>
        skills = (List<SkillsViewModel>
            )ViewBag.Skills;
}

<section class="emailError" id="emailSendingError"></section>

<div class="home">
    @*================[  About me section ]=======================*@

    <section class="about-me" id="aboutme">
        <div class="container">
            <!-- SECTION HEADER -->

            <div class="section-header">
                <h2 class="white-text">About Me</h2><div class="white-text section-legend">Here is my history.</div>
            </div><!-- / END SECTION HEADER -->
            <!-- 3 COLUMNS OF ABOUT US-->

            <div class="row">
                <div class="row">
                    <div data-scrollreveal="enter left move 60px after 0.00s over 2.5s">
                        <div class="container">
                            <div class="col-sm-10 col-sm-offset-1">
                                @if (picture != null && !string.IsNullOrEmpty(picture.FileName))
                                {
                                    string fullPath = picture.path + picture.FileName;
                                    <div class="section-header">
                                        <a href="#"><img class="picture-home" src="@fullPath" /></a>
                                    </div>
                                    foreach (var description in picture.Descriptions)
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>@Html.DisplayHtml(description.Description)</p>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div data-scrollreveal="enter right move 60px after 0.00s over 2.5s">

                            <div class="our-clients">
                                <h3>
                                    <span class="section-footer-title">PROFILE</span>
                                </h3>
                            </div>
                            <div class="client-list">
                                <div class="col-md-4">
                                    <h3><span class="glyphicon glyphicon-send"></span>Ambition</h3>
                                    <p><span>To consolidate my future career in development, I am currently enrolled on a self-funded courses working towards a Microsoft Certified Technology Specialist (MCTS) qualification through Just IT.</span></p>
                                </div>
                                <div class="col-md-4">
                                    <h3><span class="glyphicon glyphicon-retweet"></span>Motivation</h3>
                                    <p><span>I always wanted to work in IT industry, so after my Master in Computer science I decided to become a C# developer beside having the fundamentals programming in PHP language. In my spare time I like to further develop my skills by developing applications (web or desktop).</span></p>
                                </div>
                                <div class="col-md-4">
                                    <h3><span class="glyphicon glyphicon-ok-sign"></span>Qualities</h3>
                                    <p class="MsoNormal"><span lang="fr-fr">The various projects I have been involved in have built up my adaptability, my problems solving skills and my ability to be a good team player.</span></p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div data-scrollreveal="enter right move 60px after 0.00s over 2.5s">
                            <div class="our-clients">
                                <h3>
                                    <span class="section-footer-title">TECHNOLOGIES</span>
                                </h3>
                            </div>
                            <div class="client-list">
                                @foreach (var technoEnv in projects.SelectMany(x => x.TechnoEnv).Where(x => x.Category == "Technology").GroupBy(y => y.Picture.FileName).Select(y => y.First()).ToList())
                                {
                                    <span class="col-md-2">
                                        <a href="#">
                                            <img class="techno-img" title="@technoEnv.Subject" alt="@technoEnv.Subject" src="@technoEnv.Picture.path@technoEnv.Picture.FileName">
                                        </a>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- / END 3 COLUMNS OF ABOUT US-->
        </div> <!-- / END CONTAINER -->
    </section> <!-- END ABOUT US SECTION -->
    @*================[ Experience section ]=======================*@

    @{count = 0; }
    <section class="experience focus" id="experiencesbackground">
        <div class="container">

            <!-- SECTION HEADER -->

            <div class="section-header">

                <!-- SECTION TITLE AND SUBTITLE -->

                <h2 class="dark-text">Experiences</h2><div class="section-legend">Here is my work background.</div>
            </div>
            <div data-scrollreveal="enter right after 0s over 1s">
                <div class="row">
                    <ul class="timeline">
                        @foreach (var experience in experiences)
                        {
                            if (count % 2 == 0)
                            {
                                <li>

                                    <div class="timeline-badge">@Html.DisplayFor(modelItem => experience.EndDate.Year)</div>
                                    <div class="timeline-panel animated rotateInDownRight">

                                        @if (experience.Pictures.Count > 0)
                                        {
                                            //string fullPath = "/Content"+"/Images"+"/Education/"+ item.Pictures.LastOrDefault().FileName;
                                            string fullPath = experience.Pictures.LastOrDefault().path + experience.Pictures.LastOrDefault().FileName;
                                            <div class="row">
                                                <div class="col-md-12 img-layout">
                                                    <img src="@fullPath" class="img-responsive">
                                                </div>
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="timeline-heading">

                                                    @if (experience.link != null)
                                                    {
                                                        <h3 class="timeline-title"><span class="link"><a target="_blank" href="@Html.DisplayFor(modelItem => experience.link)">@Html.DisplayFor(modelItem => experience.Title)  @Html.ValueFor(model => experience.EndDate, "{0:dd/MM/yyyy}")</a></span></h3>

                                                    }
                                                    else
                                                    {
                                                        <h3 class="timeline-title"><span class="no-link">@Html.DisplayFor(modelItem => experience.Title) @Html.ValueFor(model => experience.EndDate, "{0:dd/MM/yyyy}")</span></h3>

                                                    }
                                                    <p><small class="text-muted"><i class="glyphicon glyphicon-check"></i> @Html.DisplayFor(modelItem => experience.Company)  @Html.ValueFor(modelItem => experience.StartDate, "{0:dd/MM/yyyy}") - @Html.ValueFor(modelItem => experience.EndDate, "{0:dd/MM/yyyy}") </small></p>
                                                </div>
                                                <div class="timeline-body">

                                                    @if (experience.Descriptions.Count > 0)
                                                    {
                                                        <p>@Html.DisplayHtml(experience.Descriptions.First().Description)</p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }
                            else
                            {
                                <li class="timeline-inverted">
                                    <div class="timeline-badge">@Html.DisplayFor(modelItem => experience.EndDate.Year)</div>
                                    <div class="timeline-panel animated rotateInDownRight">

                                        @if (experience.Pictures.Count > 0)
                                        {
                                            //string fullPath = "/Content"+"/Images"+"/Education/"+ item.Pictures.LastOrDefault().FileName;
                                            string fullPath = experience.Pictures.LastOrDefault().path + experience.Pictures.LastOrDefault().FileName;
                                            <div class="row">
                                                <div class="col-md-12 img-layout">
                                                    <img src="@fullPath" class="img-responsive">
                                                </div>
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="timeline-heading">

                                                    @if (experience.link != null)
                                                    {
                                                        <h3 class="timeline-title"><span class="link"><a target="_blank" href="@Html.DisplayFor(modelItem => experience.link)">@Html.DisplayFor(modelItem => experience.Title)  @Html.ValueFor(model => experience.EndDate, "{0:dd/MM/yyyy}")</a></span></h3>

                                                    }
                                                    else
                                                    {
                                                        <h3 class="timeline-title"><span class="no-link">@Html.DisplayFor(modelItem => experience.Title) @Html.ValueFor(model => experience.EndDate, "{0:dd/MM/yyyy}")</span></h3>

                                                    }
                                                    <p><small class="text-muted"><i class="glyphicon glyphicon-check"></i> @Html.DisplayFor(modelItem => experience.Company)  @Html.ValueFor(modelItem => experience.StartDate, "{0:dd/MM/yyyy}") - @Html.ValueFor(modelItem => experience.EndDate, "{0:dd/MM/yyyy}") </small></p>
                                                </div>
                                                <div class="timeline-body">

                                                    @if (experience.Descriptions.Count > 0)
                                                    {
                                                        <p>@Html.DisplayHtml(experience.Descriptions.First().Description)</p>
                                                    }
                                                </div>

                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }
                            count++;
                        }
                        <li>
                            <div class="start timeline-badge "><i class="glyphicon glyphicon-circle-arrow-up"></i></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- / END CONTAINER -->
    </section>  <!-- / END FOCUS SECTION -->
    @*<section class="separator-one" id="ribbon_bottom"><div class="color-overlay"><h3 class="container text" data-scrollreveal="enter left after 0s over 1s">Check out this cool parallax scrolling effect. Plus, you can change the background image.</h3><div data-scrollreveal="enter right after 0s over 1s"><a href="#" class="btn btn-primary custom-button green-btn">button</a></div></div></section>*@




    @*================[  Education section ]=======================*@
    @{count = 0; }
    <section class="education testimonial" id="educationbackground">
        <div class="container">
            <div class="section-header">
                <h2 class="white-text">Education</h2>
                <div class="white-text section-legend">Here is my education background.</div>
            </div>
            <div data-scrollreveal="enter right after 0s over 1s">
                <div class="row">
                    <ul class="timeline">
                        @foreach (var item in education)
                        {
                            if (count % 2 == 0)
                            {
                                <li>
                                    <div class="timeline-badge">@Html.DisplayFor(modelItem => item.YearGraduate.Year)</div>
                                    <div class="timeline-panel animated rotateInDownLeft">
                                        @if (item.Pictures.Count > 0)
                                        {
                                            //string fullPath = "/Content"+"/Images"+"/Education/"+ item.Pictures.LastOrDefault().FileName;
                                            string fullPath = item.Pictures.LastOrDefault().path + item.Pictures.LastOrDefault().FileName;
                                            <div class="row">
                                                <div class="col-md-12 img-layout">
                                                    <img src="@fullPath" class="img-responsive">
                                                </div>
                                            </div>
                                        }


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="timeline-heading">

                                                    @if (item.link != null)
                                                    {
                                                        <h3 class="timeline-title"><span><a target="_blank" href="@Html.DisplayFor(modelItem => item.link)">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.ValueFor(model => item.YearGraduate, "{0:dd/MM/yyyy}")</a></span></h3>
                                                    }
                                                    else
                                                    {
                                                        <h3 class="timeline-title"><span class="no-link">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.ValueFor(model => item.YearGraduate, "{0:dd/MM/yyyy}")</span></h3>

                                                    }

                                                    <p><small class="text-muted"><i class="glyphicon glyphicon-check"></i>  @Html.DisplayFor(model => item.NbYearsToGraduate) Year(s)</small>  </p>
                                                    @if (item.Descriptions.Count > 0)
                                                    {
                                                        <p>@Html.DisplayHtml(item.Descriptions.First().Description)</p>
                                                    }
                                                </div><!--/panel-->
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="timeline-inverted">
                                    <div class="timeline-badge">@Html.DisplayFor(modelItem => item.YearGraduate.Year)</div>
                                    <div class="timeline-panel animated rotateInDownRight">
                                        @if (item.Pictures.Count > 0)
                                        {
                                            string fullPath = item.Pictures.LastOrDefault().path + item.Pictures.LastOrDefault().FileName;
                                            <div class="row">
                                                <div class="col-md-12 img-layout">
                                                    <img src="@fullPath" class="img-responsive">
                                                </div>
                                            </div>
                                        }


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="timeline-heading">

                                                    @if (item.link != null)
                                                    {
                                                        <h3 class="timeline-title"><span><a target="_blank" href="@Html.DisplayFor(modelItem => item.link)">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.ValueFor(model => item.YearGraduate, "{0:dd/MM/yyyy}")</a></span></h3>
                                                    }
                                                    else
                                                    {
                                                        <h3 class="timeline-title"><span class="no-link">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.ValueFor(model => item.YearGraduate, "{0:dd/MM/yyyy}")</span></h3>

                                                    }

                                                    <p><small class="text-muted"><i class="glyphicon glyphicon-check"></i>  @Html.DisplayFor(model => item.NbYearsToGraduate) Year(s) </small></p>

                                                </div><!--timeline-heading-->
                                                @if (item.Descriptions.Count > 0)
                                                {
                                                    <p>@Html.DisplayHtml(item.Descriptions.First().Description)</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }

                            count++;
                        }

                        <li>
                            <div class="start timeline-badge "><i class="glyphicon glyphicon-circle-arrow-up"></i></div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>

    @*================[  Skills section ]=======================*@

    <section class="skill focus" id="skillsets">


        <div class="container">

            <!-- SECTION HEADER -->

            <div class="section-header">

                <!-- SECTION TITLE AND SUBTITLE -->

                <h2 class="dark-text">Skills</h2><div class="section-legend">Here are my skill sets.</div>
            </div>

            <div data-scrollreveal="enter right after 0s over 1s">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3>Development</h3>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row coding">
                            @foreach (var item in skills)
                            {
                                if (item.CategoryViewModel.Title == "Coding")
                                {
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="panel panel-default">
                                            <div class="panel-thumbnail" style="padding: 8px;"><canvas name="@Html.DisplayFor(model => item.Title)" id="demo[@count]" property="@Html.DisplayFor(model => item.LevelsViewModel.Level)"></canvas></div>
                                            <div class="panel-body">
                                                <h4 class="text-center" style="">@Html.DisplayFor(model => item.Title)</h4>
                                                <p></p>
                                            </div>
                                        </div><!--/panel-->
                                    </div>

                                }
                                count++;
                            }
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3>Web design</h3>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row business">
                            @foreach (var item in skills)
                            {
                                if (item.CategoryViewModel.Title == "Business")
                                {

                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="panel panel-default">
                                            <div class="panel-thumbnail" style="padding: 8px;"><canvas name="@Html.DisplayFor(model => item.Title)" id="demo[@count]" property="@Html.DisplayFor(model => item.LevelsViewModel.Level)"></canvas></div>
                                            <div class="panel-body">
                                                <h4 class="text-center">@Html.DisplayFor(model => item.Title)</h4>
                                                <p></p>
                                            </div>
                                        </div><!--/panel-->
                                    </div>
                                }
                                count++;
                            }
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3>Personal skills</h3>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row others">
                            @foreach (var item in skills)
                            {
                                if (item.CategoryViewModel.Title == "Others")
                                {

                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="panel panel-default">
                                            <div class="panel-thumbnail" style="padding: 8px;"><canvas name="@Html.DisplayFor(model => item.Title)" id="demo[@count]" property="@Html.DisplayFor(model => item.LevelsViewModel.Level)"></canvas></div>
                                            <div class="panel-body latestnews-title">
                                                <h4 class="">@Html.DisplayFor(model => item.Title)</h4>
                                                <p></p>
                                            </div>
                                        </div><!--/panel-->
                                    </div>
                                }

                            }
                        </div>
                    </div>

                    @if (skills.Where(x => x.CategoryViewModel.Title == "Certification").Count() > 0)
                    {
                        <div class="row">
                            <div class="our-clients">
                                <h5>
                                    <span class="section-footer-title">Certifications</span>
                                </h5>
                            </div>
                            <div class="client-list">
                                @foreach (var item in skills)
                                {
                                    if (item.Pictures.Count > 0 && item.CategoryViewModel.Title == "Certification")
                                    {
                                        foreach (var certificateImg in item.Pictures)
                                        {
                                            <div class="col-md-3">
                                                <img src="@certificateImg.path@certificateImg.FileName" />
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    }


                </div>

            </div>
        </div> <!-- / END CONTAINER -->
    </section>  <!-- / END FOCUS SECTION -->
    @*<section class="purchase-now" id="ribbon_right"><div class="container"><div class="row"><div class="col-md-9" data-scrollreveal="enter left after 0s over 1s"><h3 class="white-text">Use these ribbons to display calls to action mid-page. </h3></div><div class="col-md-3" data-scrollreveal="enter right after 0s over 1s"><a href="http://www.codeinwp.com/blog/top-custom-post-types-plugins-for-wordpress/" class="btn btn-primary custom-button red-btn">View article</a></div></div></div></section>*@

    <section class="separator-one" id="ribbon_bottom">
        <div class="color-overlay">
            <div data-scrollreveal="enter left after 0s over 1s">
                <p>By Muhammad Ali.</p>
            </div>
            <div data-scrollreveal="enter right after 0s over 1s">
                <blockquote class="quote">
                    It's the repetition of affirmations that leads to belief. And once that belief becomes a deep conviction, things begin to happen.
                </blockquote>
            </div>
        </div>
    </section>


    @*================[  Projects section ]=======================*@

    <section class="project latest-news" id="latestprojects">
        <div class="container">
            <div class="section-header"><h2 class="dark-text">Projects</h2><div class="dark-text section-legend">Here are my latest projects.</div></div><!-- END .section-header --><div class="clear"></div>
            <div data-scrollreveal="enter right after 0s over 1s">
                <div class="row">
                    @{ var i = 0;}
                    @foreach (var project in projects.OrderByDescending(x => x.ProjectDetail.Date).ToList())
                    {
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-thumbnail">
                                    @if (project.ProjectDetail != null && project.ProjectDetail.Pictures.Count() > 0 && project.ProjectDetail.Pictures.Where(y => y.FileName.Split('.').Count() > 1 && y.FileName.Split('.')[1] != "mp4").Count() > 0)
                                    {
                                        var img = project.ProjectDetail.Pictures.Where(y => y.FileName.Split('.').Count() > 1 && y.FileName.Split('.')[1] != "mp4").ElementAt(0);
                                        <img src="@img.path@img.FileName" class="img-responsive" data-toggle="modal" data-target="#myProjectModal-@i" style="cursor:pointer;">
                                        @*<a href="/Projects/Details/@Html.DisplayFor(modelItem => project.ID)" title="@Html.DisplayFor(modelItem => project.Title)" target="_blank">
                                            </a>*@
                                    }
                                    else
                                    {
                                        <img src="~/Content/Images/Carousel/Singapour.jpg" class="img-responsive" data-toggle="modal" data-target="#myProjectModal-@i" style="cursor:pointer;">
                                        @*<a href="/Projects/Details/@Html.DisplayFor(modelItem => project.ID)" title="@Html.DisplayFor(modelItem => project.Title)" target="_blank">
                                            </a>*@
                                    }
                                </div>
                                <div class="panel-body latesnews-content">
                                    <h4 class="latestnews-title">
                                        <span data-toggle="modal" data-target="#myProjectModal-@i">
                                            @Html.DisplayFor(modelItem => project.Title)
                                        </span>
                                    </h4>
                                </div>
                            </div><!--/panel-->
                        </div>
                        i++;
                    }
                </div>
            </div>
        </div><!-- .container -->
    </section>

    <!-- Modal -->
    @{  i = 0; }
    @foreach (var project in projects.OrderByDescending(x => x.ProjectDetail.Date).ToList())
    {
        var subject = (project.ProjectDetail.Descriptions.Count() > 0) ? project.ProjectDetail.Descriptions.First().Subject : "Here the title";
        <div id="myProjectModal-@i" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@subject</h4>
                    </div>
                    <div class="modal-body">
                        
                        <div class="divider"></div>

                        <div class="row">
                            <div class="col-md-12 img-home-layout">
                                @if (project.ProjectDetail != null && project.ProjectDetail.Pictures.Count() > 0 && project.ProjectDetail.Pictures.Where(y => y.FileName.Split('.')[1] != "mp4").Count() > 0)
                                {
                                    <img src="@Html.DisplayFor(modelItem => project.ProjectDetail.Pictures.Where(y => y.FileName.Split('.')[1] != "mp4").ElementAt(0).path)@Html.DisplayFor(modelItem => project.ProjectDetail.Pictures.Where(y => y.FileName.Split('.')[1] != "mp4").ElementAt(0).FileName)" style="width:100%;">
                                }
                            </div>
                        </div>

                        @if (project.ProjectDetail != null && project.ProjectDetail.Pictures.Count() > 0 && project.ProjectDetail.Pictures.Where(y => y.FileName.Split('.')[1] == "mp4").Count() > 0)
                        {
                            <div class="divider"></div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                
                                        <div class="divider"></div>
                                        <div class="video-box">
                                            <figure>
                                                <video class="video" width="700" id="ourvideo" autoplay loop preload="auto" controls="controls" muted>
                                                    <source src="@Html.DisplayFor(modelItem => project.ProjectDetail.Pictures.Where(y => y.FileName.Split('.')[1] == "mp4").ElementAt(0).path)@Html.DisplayFor(modelItem => project.ProjectDetail.Pictures.Where(y => y.FileName.Split('.')[1] == "mp4").ElementAt(0).FileName)" type='video/mp4' />
                                                </video>
                                                <div id="footnote"></div>
                                                <figcaption>Live demo</figcaption>
                                            </figure>
                                        </div>

                                </div>
                            </div>
                        }
                        <div class="divider"></div>

                        <div class="row">
                            <div class="col-md-12">
                                @if (project.Summaries.Count > 0)
                                {
                                    <p> @Html.DisplayHtml(project.Summaries.First().Description)</p>
                                }
                            </div>
                        </div>

                        <div class="divider"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            @if (project.TechnoEnv.Where(x => x.Category == "Language").Count() > 0)
                                            {
                                                <th>Languages</th>
                                            }
                                            @if (project.TechnoEnv.Where(x => x.Category == "Technology").Count() > 0)
                                            {
                                                <th>Technologies</th>
                                            }
                                            @if (project.TechnoEnv.Where(x => x.Category == "Version Control").Count() > 0)
                                            {
                                                <th>Version Control</th>
                                            }
                                            @if (project.TechnoEnv.Where(x => x.Category == "Web Service").Count() > 0)
                                            {
                                                <th>Web Services</th>
                                            }
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            @if (project.TechnoEnv.Where(x => x.Category == "Language").Count() > 0)
                                            {
                                                var languageList = project.TechnoEnv.Where(x => x.Category == "Language").ToList();

                                                <td>
                                                    @foreach (var language in languageList)
                                                    {

                                                        if (language.link != null)
                                                        {
                                                            <a href="@language.link" target="_blank"><img title="@language.Subject" alt="@language.Subject" class="img-techno-env" src="@Html.DisplayFor(modelItem => language.Picture.path)@Html.DisplayFor(modelItem => language.Picture.FileName)"></a>
                                                        }
                                                        else
                                                        {
                                                            <img title="@language.Subject" alt="@language.Subject" class="img-techno-env" src="@Html.DisplayFor(modelItem => language.Picture.path)@Html.DisplayFor(modelItem => language.Picture.FileName)">
                                                        }

                                                    }
                                                </td>
                                            }
                                            @if (project.TechnoEnv.Where(x => x.Category == "Technology").Count() > 0)
                                            {
                                                var technologyList = project.TechnoEnv.Where(x => x.Category == "Technology").ToList();
                                                <td>

                                                    @foreach (var technology in technologyList)
                                                    {

                                                        if (technology.link != null)
                                                        {
                                                            <a href="@technology.link" target="_blank"><img title="@technology.Subject" alt="@technology.Subject" class="img-techno-env" src="@Html.DisplayFor(modelItem => technology.Picture.path)@Html.DisplayFor(modelItem => technology.Picture.FileName)"></a>
                                                        }
                                                        else
                                                        {
                                                            <img title="@technology.Subject" alt="@technology.Subject" class="img-techno-env" src="@Html.DisplayFor(modelItem => technology.Picture.path)@Html.DisplayFor(modelItem => technology.Picture.FileName)">
                                                        }

                                                    }
                                                </td>
                                            }
                                            @if (project.TechnoEnv.Where(x => x.Category == "Version Control").Count() > 0)
                                            {
                                                var versionControlList = project.TechnoEnv.Where(x => x.Category == "Version Control").ToList();

                                                <td>
                                                    @foreach (var versionControl in versionControlList)
                                                    {

                                                        if (versionControl.link != null)
                                                        {
                                                            <a href="@versionControl.link" target="_blank"><img title="@versionControl.Subject" alt="@versionControl.Subject" class="img-techno-env" src="@Html.DisplayFor(modelItem => versionControl.Picture.path)@Html.DisplayFor(modelItem => versionControl.Picture.FileName)"></a>
                                                        }
                                                        else
                                                        {
                                                            <img width="50" class="img-techno-env" title="@versionControl.Subject" alt="@versionControl.Subject" src="@Html.DisplayFor(modelItem => versionControl.Picture.path)@Html.DisplayFor(modelItem => versionControl.Picture.FileName)">
                                                        }

                                                    }
                                                </td>
                                            }

                                            @if (project.TechnoEnv.Where(x => x.Category == "Web Service").Count() > 0)
                                            {
                                                var webServiceList = project.TechnoEnv.Where(x => x.Category == "Web Service").ToList();


                                                <td>
                                                    @foreach (var webService in webServiceList)
                                                    {

                                                        if (webService.link != null)
                                                        {
                                                            <a href="@webService.link" target="_blank"><img alt="@webService.Subject" title="@webService.Subject" class="img-techno-env" src="@Html.DisplayFor(modelItem => webService.Picture.path)@Html.DisplayFor(modelItem => webService.Picture.FileName)"></a>
                                                        }
                                                        else
                                                        {
                                                            <img title="@webService.Subject" alt="@webService.Subject" class="img-techno-env" src="@Html.DisplayFor(modelItem => webService.Picture.path)@Html.DisplayFor(modelItem => webService.Picture.FileName)">
                                                        }

                                                    }
                                                </td>

                                            }
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        @foreach (var description in project.ProjectDetail.Descriptions)
                        {
                            <div class="divider"></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <p>@Html.DisplayHtml(description.Description)</p>
                                </div>
                            </div>

                        }                      

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        i++;
    }




    @*================[  Contact section ]=======================*@

    <section class="contact" id="contactform">
        <div class="container">
            <!-- SECTION HEADER -->
            <div class="section-header">

                <h2 class="white-text">Get in touch</h2><div class="white-text section-legend"> </div>
            </div>
            <!-- / END SECTION HEADER -->
            <div data-scrollreveal="enter right after 0s over 1s">
                <div class="row">
                    <div class="pirate_forms_wrap">
                        <form action="/Home/Contact" class="pirate_forms" method="post" name="contactForm" onsubmit="return validateForm();">
                            @*@using (Html.BeginForm("Contact","Home",FormMethod.Post, new { htmlAttributes = new { @id = "pirate-forms-contact", @class = "pirate_forms", name="contactForm", onsubmit= "return validateForm();" } }))
                                {*@
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { id = "NameError", @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Company, "", new { id = "CompanyError", @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { id = "EmailError", @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { id = "PhoneError", @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-12">
                                        @Html.TextAreaFor(model => model.Comments, new { htmlAttributes = new { @id = "ContactComments", @class = "form-control" }, @style = "width: 100%; height: 200px;" })
                                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-offset-10 col-md-2 form_field_wrap contact_submit_wrap">
                                        <button type="submit" class="pirate-forms-submit-button">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="pirate_forms_clearfix"></div>
                    </div>
                </div>
            </div>
        </div> <!-- / END CONTAINER -->

    </section> <!-- / END CONTACT US SECTION-->
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function resetFormError() {
            var errorName = document.getElementById("NameError");
            errorName.style.display = "none";

            var errorCompany = document.getElementById("CompanyError");
            errorCompany.style.display = "none";

            var errorEmail = document.getElementById("EmailError");
            errorEmail.style.display = "none";
        }

        resetFormError();

        function validateForm() {
            var errorDetected = "";
            resetFormError();
            var name = document.forms["contactForm"]["Name"].value;
            if (name == "") {
                var errorName = document.getElementById("NameError");
                errorName.innerHTML = "Please give a name.";
                errorName.style.display = "block";
                errorDetected += "name;";
            }

            var company = document.forms["contactForm"]["Company"].value;
            if (company == "") {
                var errorCompany = document.getElementById("CompanyError");
                errorCompany.innerHTML = "Please give organization or company name.";
                errorCompany.style.display = "block";
                errorDetected += "company;";
            }

            var email = document.forms["contactForm"]["Email"].value;
            if (email == "") {
                var errorEmail = document.getElementById("EmailError");
                errorEmail.innerHTML = "Please give an email.";
                errorEmail.style.display = "block";
                errorDetected += "email;";
            }

            if (errorDetected == "")
                return true;
            else
                return false;
        }

        $(document).ready(function () {
            var param = 0;
            var value = 0;
            var name = ""; // ,
            var listColor = ['#E1BEE7', '#F8BBD0', '#7F677F'];
            $("canvas[id^=demo]").each(function () {
                value = $(this).attr("property");
                name = $(this).attr("name");
                param = value / 100;
                $(this).waterbubble({

                    // bubble size
                    radius: 50,

                    // border width
                    lineWidth: undefined,

                    // data to present
                    data: param,

                    // color of the water bubble
                    waterColor: listColor[Math.floor(Math.random() * listColor.length)],//'rgba(25, 139, 201, 1)',

                    // text color
                    textColor: 'rgba(06, 85, 128, 0.8)',

                    // custom font family
                    font: '',

                    // show wave
                    wave: true,

                    // custom text displayed inside the water bubble
                    txt: value + "%",

                    // enable water fill animation
                    animation: true

                });
            });
        });

    </script>
}


