@model IEnumerable<DagoWebPortfolio.Models.ExperiencesViewModel>
@using DagoWebPortfolio.Models.CustomHelpers
@{
    Layout = "";
    ViewBag.Title = "EXPERIENCES";
    var count = 0;

    string[] colors = new string[5];
    colors[0] = "rgba(229,225,206,.6)";
    colors[1] = "rgba(84,140,191,.6)";
    colors[2] = "rgba(237,28,36,.6)";
    colors[3] = "rgba(34,177,76,.6)";
    colors[4] = "rgba(195,195,195,.6)";

    var rd = new Random();
}




<div class="experiences-home">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="title">
                            <h1 class="text">@ViewBag.Title</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-12">
                        <ul class="timeline">
                            @foreach (var experience in Model)
                            {
                                if (count % 2 == 0)
                                {
                                    <li>
                                        <div class="timeline-badge" style="background-color: @colors[rd.Next(0, 4)];">@Html.DisplayFor(modelItem => experience.EndDate.Year)</div>
                                        <div class="timeline-panel animated rotateInDownLeft">


                                            @if (experience.Pictures.Count() > 0)
                                            {
                                                <div class="row">
                                                    <div class="col-md-12 img-layout">
                                                        <img src="@Html.DisplayFor(modelItem => experience.Pictures.Max().path)@Html.DisplayFor(modelItem => experience.Pictures.Max().FileName)" class="img-responsive">
                                                    </div>
                                                </div>
                                            }
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="timeline-heading">

                                                        @if (experience.link != null)
                                                        {
                                                            <h2 class="timeline-title"><span class="link title"><a target="_blank" href="@Html.DisplayFor(modelItem => experience.link)">@Html.DisplayFor(modelItem => experience.Title)  @Html.ValueFor(model => experience.EndDate, "{0:dd/MM/yyyy}")</a></span></h2>

                                                        }
                                                        else
                                                        {
                                                            <h2 class="timeline-title"><span class="no-link title">@Html.DisplayFor(modelItem => experience.Title) @Html.DisplayFor(model => experience.EndDate, "{0:dd/MM/yyyy}")</span></h2>

                                                        }
                                                        <p><small class="text-muted"><i class="glyphicon glyphicon-check"></i> @Html.DisplayFor(modelItem => experience.Company)  @Html.DisplayFor(modelItem => experience.StartDate, "{0:dd/MM/yyyy}") - @Html.DisplayFor(modelItem => experience.EndDate, "{0:dd/MM/yyyy}") </small></p>
                                                    </div>
                                                    <div class="timeline-body">
                                                        @Html.DisplayHtml(experience.Responsabilities)
                                                    </div>

                                                    <p></p>
                                                </div>

                                            </div>
                                        </div>
                                    </li>

                                }
                                else
                                {
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge" style="background-color: @colors[rd.Next(0, 4)];">@Html.DisplayFor(modelItem => experience.EndDate.Year)</div>
                                        <div class="timeline-panel animated rotateInDownRight">


                                            @if (experience.Pictures.Count() > 0)
                                            {
                                                <div class="row">
                                                    <div class="col-md-12 img-layout">
                                                        <img src="@Html.DisplayFor(modelItem => experience.Pictures.Max().path)@Html.DisplayFor(modelItem => experience.Pictures.Max().FileName)" class="img-responsive">
                                                    </div>
                                                </div>
                                            }
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="timeline-heading">

                                                        @if (experience.link != null)
                                                        {
                                                            <h2 class="timeline-title"><span class="link title"><a target="_blank" href="@Html.DisplayFor(modelItem => experience.link)">@Html.DisplayFor(modelItem => experience.Title)  @Html.ValueFor(model => experience.EndDate, "{0:dd/MM/yyyy}")</a></span></h2>

                                                        }
                                                        else
                                                        {
                                                            <h2 class="timeline-title"><span class="no-link title">@Html.DisplayFor(modelItem => experience.Title) @Html.DisplayFor(model => experience.EndDate, "{0:dd/MM/yyyy}")</span></h2>

                                                        }
                                                        <p><small class="text-muted"><i class="glyphicon glyphicon-check"></i> @Html.DisplayFor(modelItem => experience.Company)  @Html.DisplayFor(modelItem => experience.StartDate, "{0:dd/MM/yyyy}") - @Html.DisplayFor(modelItem => experience.EndDate, "{0:dd/MM/yyyy}") </small></p>
                                                    </div>
                                                    <div class="timeline-body">
                                                        
                                                        @Html.DisplayHtml(experience.Responsabilities)
                                                    </div>

                                                    <p></p>
                                                </div>

                                            </div>



                                        </div>
                                    </li>
                                }


                                
                                count++;
                            }
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>




        <div class="divider"></div>


        @Scripts.Render("~/bundles/bootstrap")



