@model DagoWebPortfolio.Models.DisplayViewModel.DisplayViewModel

@{
    ViewBag.Title = "DISPLAY";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-list-alt"></i> @ViewBag.Title</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Admin/index">Home</a></li>
            <li><i class="fa fa-eye"></i>@ViewBag.From</li>
            <li><i class="fa fa-briefcase"></i>@ViewBag.Action</li>
        </ol>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create/New/toto")
</p>

<div class="panel">
    <div class="panel-heading">
        Welcome Page
    </div>
    <div class="panel-body">
            <table id="welcome-detail" class="table table-hover">
                <thead>
                </thead>
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.WelcomeView.Name)</td>
                        <td>@Html.DisplayFor(model => model.WelcomeView.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.WelcomeView.FileName)</td>
                        <td>@Html.DisplayFor(model => model.WelcomeView.FileName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.WelcomeView.Path)</td>
                        <td>@Html.DisplayFor(model => model.WelcomeView.Path)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.WelcomeView.Zone1)</td>
                        <td><textarea class="form-control" >@Html.DisplayFor(model => model.WelcomeView.Zone1)</textarea></td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.WelcomeView.Zone2)</td>
                        <td><textarea class="form-control" >@Html.DisplayFor(model => model.WelcomeView.Zone2)</textarea></td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.WelcomeView.Zone3)</td>
                        <td><textarea class="form-control" >@Html.DisplayFor(model => model.WelcomeView.Zone3)</textarea></td>
                    </tr>
                </tbody>
            </table>
        
    </div>
</div>
<div class="panel">
    <div class="panel-heading">
        About Page
    </div>
    <div class="panel-body">        
            <table id="about-detail" class="table table-hover">
                <thead>
                </thead>
                <thead>
                </thead>
                <tbody>

                    <tr>
                        <td>@Html.DisplayNameFor(model => model.AboutView.Name)</td>
                        <td>@Html.DisplayFor(model => model.AboutView.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.AboutView.FileName)</td>
                        <td>@Html.DisplayFor(model => model.AboutView.FileName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.AboutView.Path)</td>
                        <td>@Html.DisplayFor(model => model.AboutView.Path)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.AboutView.HeadZone1)</td>
                        <td><textarea class="form-control" >@Html.DisplayFor(model => model.AboutView.HeadZone1)</textarea></td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.AboutView.HeadZone2)</td>
                        <td><textarea class="form-control">@Html.DisplayFor(model => model.AboutView.HeadZone2)</textarea></td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.AboutView.HeadZone3)</td>
                        <td><textarea class="form-control">@Html.DisplayFor(model => model.AboutView.HeadZone3)</textarea></td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.AboutView.BodyZone1)</td>
                        <td><textarea class="form-control">@Html.DisplayFor(model => model.AboutView.BodyZone1)</textarea></td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.AboutView.BodyZone2)</td>
                        <td><textarea class="form-control">@Html.DisplayFor(model => model.AboutView.BodyZone2)</textarea></td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.AboutView.BodyZone3)</td>
                        <td><textarea class="form-control">@Html.DisplayFor(model => model.AboutView.BodyZone3)</textarea></td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.AboutView.BodyZone4)</td>
                        <td><textarea class="form-control">@Html.DisplayFor(model => model.AboutView.BodyZone4)</textarea></td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.AboutView.BodyZone5)</td>
                        <td><textarea class="form-control">@Html.DisplayFor(model => model.AboutView.BodyZone5)</textarea></td>
                    </tr>

                </tbody>
            </table>
        
        </div>
    </div>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>


    <script>

        $(document).ready(function () {

            $('#welcome-detail').hide();
            $('#about-detail').hide();

            $('.clickable-about').click(function () {
                $('#about-detail').toggle("slow");
            });

            $('.clickable-welcome').click(function () {
                $('#welcome-detail').toggle("slow");
            });

            /*$('.collapseDetail').on('show.bs.collapse', function () {
                $('.collapseDetail.in').collapse('hide');
            });*/

        });

    </script>
