@model DagoWebPortfolio.Models.ProjectsViewModel
@using DagoWebPortfolio.Models.CustomHelpers
@{
    Layout = "_LayoutProjectDescriptor.cshtml";
    ViewBag.Title = "Project Detail";
    var count = 0;
    var count2 = 0;
}

<div class="projects-home">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="title">
                            <h1 class="text">@ViewBag.Title</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <section>
        <div class="container">
            <div class="row">

                @foreach (var picture in Model.ProjectDetail.Pictures)
                {
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-thumbnail">
                                <a href="#section[@count]" title="@Html.DisplayFor(modelItem => Model.Title)">

                                    @if (Model.ProjectDetail.Pictures.Count() > 0)
                                    {
                                        <img src="@Html.DisplayFor(modelItem => Model.ProjectDetail.Pictures.ToList().LastOrDefault().path)@Html.DisplayFor(modelItem => Model.ProjectDetail.Pictures.ToList().LastOrDefault().FileName)" class="img-responsive">
                                    }
                                    else
                                    {
                                        <img src="~/Content/Images/Carousel/Singapour.jpg" class="img-responsive">
                                    }
                                </a>
                            </div>
                            <div class="panel-body text-center">
                                <h2 class="title">@Html.DisplayFor(modelItem => Model.Title)</h2>
                                <p></p>
                            </div>
                        </div><!--/panel-->
                    </div><!--/col-->
                    count++;
                }


            </div>
        </div>
    </section>
    <div class="divider"></div>
    <!--
        <section class="bg-1">
            <div class="col-sm-6 col-sm-offset-3 text-center"></div>
        </section>
    -->

    @foreach (var picture in Model.ProjectDetail.Pictures)
    {
        <div class="divider" id="section[@count2]"></div>
        <section class="bg-3">
            <div class="row">
                <div class="col-md-12 text-center panel-thumbnail">
                    <h2 class=""> <a target="_blank" href="@Html.DisplayFor(modelItem => picture.link)"><span>@Html.DisplayFor(modelItem => picture.Subject)</span>  </a></h2>
                </div>
            </div>
        </section>

        @*<section class="bg-3">
                <div class="col-md-12 col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">@Html.DisplayFor(modelItem => project.Title)</h2></div>
            </section>*@
        <section class="bg-4">
            @*<div class="row">
                    <div class="col-md-12">
                        @Html.DisplayFor(modelItem => project.Resume)
                    </div>
                </div>*@
            <div class="row">
                <div class="col-md-8">

                    <div class="row">
                        
                            <div class="col-md-12 img-layout">
                                <img src="@Html.DisplayFor(modelItem => picture.path)@Html.DisplayFor(modelItem => picture.FileName)" class="img-responsive" />
                            </div><!--/panel-->

                        
                    </div>
                    <div class="divider"></div>
                </div><!--/col-->
                <div class="col-md-4">
                    <div class="project-title">
                        @if (picture.link != null)
                        {
                            <h2 class="title"> <a target="_blank" href="@Html.DisplayFor(modelItem => picture.link)"><span>@Html.DisplayFor(modelItem => picture.Subject)</span>  </a></h2>

                        }
                        else
                        {
                            <h2 class="no-link title">@Html.DisplayFor(modelItem => picture.Subject) </h2>

                        }

                    </div><!--/panel-->
                    <div class="summary-head"></div><!--/panel-->
                    @*@Html.DisplayHtml(picture.)*@

                </div><!--/col-->
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.DisplayHtml(picture.Description)
                </div>
            </div>
        </section>

        count2++;
    }


</div>

<div class="divider"></div>
