@using Microsoft.AspNet.Identity
@using DagoWebPortfolio.Models
@using DagoWebPortfolio.Models.CustomHelpers
@{
    // FRENCH
    ViewBag.Title = " DAGO - PORTFOLIO";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewBag.Title</title>
    <link href="~/Content/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Themes/zerif_lite/css/style.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/Images/icon_fr.ico" />

    <link href="~/Content/Themes/zerif_lite/css/dashicons.min.css" rel="stylesheet" />
    <link href="~/Content/Themes/zerif_lite/css/admin-bar.min.css" rel="stylesheet" />
    <link href="~/Content/Themes/zerif_lite/css/megamenu.css" rel="stylesheet" />

    <link href="~/Content/Themes/Site/css/timeline.css" rel="stylesheet" />
    <link href="~/Content/Themes/Site/css/styles.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Kumar+One+Outline|Monoton|Merienda" rel="stylesheet">

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Content/Scripts/waterbubble.min.js"></script>

</head>


<body class="home blog custom-background">



    <div id="mobilebgfix">
        <div class="mobile-bg-fix-img-wrap">
            <div class="mobile-bg-fix-img"></div>
        </div>
        <div class="mobile-bg-fix-whole-site">


            <header id="home" class="header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">

                <div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">

                    <div class="container">

                        <div class="navbar-header responsive-logo">

                            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">

                                <span class="sr-only">Toggle navigation</span>

                                <span class="icon-bar"></span>

                                <span class="icon-bar"></span>

                                <span class="icon-bar"></span>

                            </button>
                            <div class="portfolio">
                                <a href="/" class="navbar-brand">
                                    <span class="name-letter" style="">J</span> <span class="name">oël Dago</span>
                                </a>
                            </div>
                        </div>

                        <nav class="navbar-collapse bs-navbar-collapse collapse" id="site-navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
                            <div id="mega-menu-wrap-primary" class="mega-menu-wrap">
                                <div class="mega-menu-toggle"><div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-right' id='mega-toggle-block-1'></div></div>
                                <ul id="mega-menu-primary" class="mega-menu mega-menu-horizontal mega-no-js" data-event="hover" data-effect="disabled" data-second-click="close" data-document-click="collapse" data-reverse-mobile-items="true" data-vertical-behaviour="standard" data-breakpoint="768">

                                    <li onclick="setMenuActive(this);" class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18243'><a class="mega-menu-link" href="#aboutme">Me connaître</a></li>
                                    <li onclick="setMenuActive(this);" class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18247'><a class="mega-menu-link" href="#experiencesbackground">Expérience</a></li>
                                    <li onclick="setMenuActive(this);" class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18249'><a class="mega-menu-link" href="#educationbackground">Formation</a></li>
                                    <li onclick="setMenuActive(this);" class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18244'><a class="mega-menu-link" href="#skillsets">Compétences</a></li>
                                    <li onclick="setMenuActive(this);" class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18248'><a class="mega-menu-link" href="#latestprojects">Projets</a></li>
                                    @if (Request.IsAuthenticated)
                                    {
                                        <li onclick="setMenuActive(this);" class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18250"><a class="mega-menu-link" href="/Admin/Index" target="_blank">Admin</a> </li>
                                    }
                                    <li onclick="setMenuActive(this);" class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18251'><a class="mega-menu-link" href="#contactform">Contact</a></li>
                                </ul>
                            </div>
                        </nav>

                    </div>

                </div>
                <!-- / END TOP BAR --><div class="home-header-wrap">

                    <div class="header-content-wrap">
                        <div class="container">
                            <p class="intro-text">
                                Je &nbsp; suis &nbsp; Un &nbsp; développeur<br />
                                de &nbsp; logiciels &nbsp; informatique
                            </p>
                        </div>
                    </div><!-- .header-content-wrap -->
                    <div class="clear"></div>
                </div>
            </header> <!-- / END HOME SECTION  -->
            <div id="content" class="site-content">

                @RenderBody()

            </div><!-- .site-content -->

            <footer class="footer" id="footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
                <div class="container">
                    <div class="col-md-3 my-details">
                        <i class="glyphicon glyphicon-map-marker"></i>
                        <div class="zerif-footer-address">
                            Joël Dago - Adresse - St Michel Sur Orge, Paris
                        </div>
                    </div>
                    <div class="col-md-3 my-details">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <div class="zerif-footer-email">
                            <a class="zerif-copyright" href="mailto:joel.dago@yahoo.fr">
                                joel.dago@yahoo.fr
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 my-details">
                        <i class="glyphicon glyphicon-phone-alt"></i>
                        <div class="zerif-footer-email">
                            06 18 31 94 89
                        </div>
                    </div>
                    <div class="col-md-3 copyright">
                        <div class="zerif-copyright-box">
                            ©2017 J. DAGO
                        </div>
                    </div>
                </div>
            </footer> <!-- / END FOOOTER  -->


        </div><!-- mobile-bg-fix-whole-site -->
    </div><!-- .mobile-bg-fix-wrap -->
    @RenderSection("scripts", required: false)

    <script src="~/Content/Themes/zerif_lite/js/scrollReveal.js"></script>
    <script src="~/Content/Themes/zerif_lite/js/smoothscroll.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Content/Modules/tinymce/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var param = 0;
            var value = 0;
            var name = ""; // ,
            var listColor = [ '#E1BEE7', '#F8BBD0', '#7F677F' ];
            $("canvas[id^=demo]").each(function () {
                value = $(this).attr("property");
                name = $(this).attr("name");
                param = value / 100;
                $(this).waterbubble({

                    // bubble size
                    radius: 50,

                    // border width
                    lineWidth: undefined,

                    // data to present
                    data: param,

                    // color of the water bubble
                    waterColor: listColor[Math.floor(Math.random() * listColor.length)],//'rgba(25, 139, 201, 1)',

                    // text color
                    textColor: 'rgba(06, 85, 128, 0.8)',

                    // custom font family
                    font: '',

                    // show wave
                    wave: true,

                    // custom text displayed inside the water bubble
                    txt: value + "%",

                    // enable water fill animation
                    animation: true

                });
            });


            var obj = @Html.Raw(ViewBag.Object);

            var errorContainer = $("#emailSendingError");
            errorContainer.hide();

            if ( obj == true ) {
                errorContainer.show();
                // show success sending email
                var emailSendingSuccessed = "<div class=\"info\" id=\"contact-confirm-faild\">"+
                    "<div class=\"container\"> "+
                        "<a href=\"/Home/Index\" data-dismiss=\"alert\" style=\"font-size:35px;\">" +
                            "<i class=\"glyphicon glyphicon-remove\"></i>" +
                        "</a>" +
                        "<div class=\"row\"> " +
                            "<div class=\"col-md-12 alert alert-success  vcenter\"> " +
                                "<strong>Successful!</strong> Your message has been sent successfully." +
                            "</div> " +
                        "</div>" +
                     "</div> " +
                "</div>";
                errorContainer.html(emailSendingSuccessed);
            }
            else if(obj == false){
                // show fail sending email
                errorContainer.show();
                var emailSendingFailed = "<div class=\"info\" id=\"contact-confirm-faild\">"+
                    "<div class=\"container\"> "+
                        "<a href=\"/Home/Index\" data-dismiss=\"alert\" style=\"font-size:35px;\">" +
                            "<i class=\"glyphicon glyphicon-remove\"></i>" +
                        "</a>" +
                        "<div class=\"row\"> " +
                            "<div class=\"col-md-12 alert alert-danger\"> " +
                                "<strong>Failed!</strong> Your message has not been sent." +
                            "</div> " +
                        "</div>" +
                     "</div> " +
                "</div>";
                errorContainer.html(emailSendingFailed);
                //window.location = "http://localhost:65399/Home/index#contactform";
            }

        });

        tinymce.init({
            selector: "textarea"
            /*,
            //plugins: 'a_tinymce_plugin',
            a_plugin_option: true,
            a_configuration_option: 400*/
        });
    </script>


</body>
</html>