@model IEnumerable<DagoWebPortfolio.Models.DisplayViewModel.DisplayViewModel>

@{
    ViewBag.Title = "DISPLAY";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-list-alt"></i> @ViewBag.Title</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Admin/index">Home</a></li>
            <li><i class="fa fa-eye"></i>@ViewBag.From</li>
            <li><i class="fa fa-briefcase"></i>@ViewBag.Action</li>
        </ol>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create/New/toto")
</p>

<div class="panel">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.lang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AboutView.HeadZone1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WelcomeView.Zone1)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.lang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AboutView.HeadZone1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WelcomeView.Zone1)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
