@using DagoWebPortfolio.Models;
@using DagoWebPortfolio.Models.CustomHelpers
@model DagoWebPortfolio.Models.ContactViewModel
@{
    // FRENCH
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/"+ViewBag.Culture+"/_Layout.cshtml";

    // projects variables
    var projects = (List<ProjectsViewModel>)ViewBag.Projects;

    // pictures variables
    PicturesViewModel picture = (PicturesViewModel)ViewBag.Picture;

    // education variables
    List<EducationViewModel> education = (List<EducationViewModel>)ViewBag.Education;
    string[] _glyphicons = new string[4];
    _glyphicons[0] = "glyphicon-check";
    _glyphicons[1] = "glyphicon-credit-card";
    _glyphicons[2] = "glyphicon-floppy-disk";
    _glyphicons[3] = "glyphicon-thumbs-up";

    // experiences variables
    List<ExperiencesViewModel> experiences = (List<ExperiencesViewModel>)ViewBag.Experiences;
    string[] _colors_class = new string[5];
    var rd = new Random();
    var count = 0;
    _colors_class[0] = "primary";
    _colors_class[1] = "success";
    _colors_class[2] = "warning";
    _colors_class[3] = "danger";
    _colors_class[4] = "info";

    List<SkillsViewModel> skills = (List<SkillsViewModel>)ViewBag.Skills;
}

<section class="emailError" id="emailSendingError"></section>

<div class="home">
    @*================[  About me section ]=======================*@

    <section class="about-us" id="aboutme">
        <div class="container">
            <!-- SECTION HEADER -->

            <div class="section-header">

                <h2 class="white-text">Me connaître</h2><div class="white-text section-legend">Ci-dessous mon histoire.</div>
            </div><!-- / END SECTION HEADER -->
            <!-- 3 COLUMNS OF ABOUT US-->



            <div class="row">
                <div class="row">
                    <div data-scrollreveal="enter left move 60px after 0.00s over 2.5s">
                        <div class="about-me">
                            <div class="container">
                                <div class="col-sm-10 col-sm-offset-1">
                                    @if (!string.IsNullOrEmpty(picture.FileName))
                                    {
                                        string fullPath = picture.path + picture.FileName;
                                        <div class="section-header">
                                            <img class="picture-home" src="@fullPath" />
                                        </div>
                                    }
                                    <p class="text-center">
                                        <span>
                                            Après obtention de mon diplôme d'ingénieur en informatique de l'école ISEP,&nbsp; j'ai débuté ma carrière en tant que développeur
                                            dans un environnement Oracle pour la société Infoelsa. La société Infoelsa développe des logiciels pour des banques et assurances.<br /><br />

                                            Afin d'élargir mes compétences de développeur et parfaire mon niveau d'anglais,&nbsp; j'ai effectué un sejour de 2 ans en Angleterre dans la ville de Londre où j'ai suivie une formation de 1 an de développeur C# avec la société Just IT.<br />
                                            Ce séjour m'a permit de non seulement améliorer mon anglais,&nbsp; de découvrir une autre culture mais également de faire de moi un meilleur développeur.
                                        </span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div data-scrollreveal="enter right move 60px after 0.00s over 2.5s">
                            <div class="our-clients">
                                <h3>
                                    <span class="section-footer-title">PROFILE</span>
                                </h3>
                            </div>
                            <div class="client-list">
                                <div class="col-md-4">
                                    <h3><span class="glyphicon glyphicon-send"></span>Ambition</h3>
                                    <p><span>Afin de consolider mes competences, J'ai suivi une formation de développeur avec la société privée Just IT, à travers laquelle j'ai obtenu les certifications Microsoft 70-463 et 98-361.</span></p>
                                </div>
                                <div class="col-md-4">
                                    <h3><span class="glyphicon glyphicon-retweet"></span>Motivation</h3>
                                    <p><span>J'ai toujours aimé travailler avec les nouvelles technologies. Après avoir été diplômé, j'ai cherché à devenir développeur informatique.</span></p>
                                </div>
                                <div class="col-md-4">
                                    <h3><span class="glyphicon glyphicon-ok-sign"></span>Qualités</h3>
                                    <p class="MsoNormal"><span lang="fr-fr">Les différents projets auxquels j'ai participé m'ont permit de développer mon adaptabilité, ma capacité à résoudre des problèmes et à travailler en équipe.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- / END 3 COLUMNS OF ABOUT US-->
        </div> <!-- / END CONTAINER -->
    </section> <!-- END ABOUT US SECTION -->
    @*================[ Experience section ]=======================*@

    @{count = 0; }
    <section class="focus" id="experiencesbackground">
        <div class="container">

            <!-- SECTION HEADER -->

            <div class="section-header">

                <!-- SECTION TITLE AND SUBTITLE -->

                <h2 class="dark-text">Expérience Professionnelle</h2><div class="section-legend">Ci-dessous mon parcours professionnel.</div>
            </div>
            <div data-scrollreveal="enter right after 0s over 1s">
                <div class="row">
                    <ul class="timeline">
                        @foreach (var experience in experiences)
                        {
                            if (count % 2 == 0)
                            {
                                <li>

                                    <div class="timeline-badge">@Html.DisplayFor(modelItem => experience.EndDate.Year)</div>
                                    <div class="timeline-panel animated rotateInDownRight">

                                        @if (experience.Pictures.Count > 0)
                                        {
                                            string fullPath = experience.Pictures.LastOrDefault().path + experience.Pictures.LastOrDefault().FileName;
                                            <div class="row">
                                                <div class="col-md-12 img-layout">
                                                    <img src="@fullPath" class="img-responsive">
                                                </div>
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="timeline-heading">

                                                    @if (experience.link != null)
                                                    {
                                                        <h3 class="timeline-title"><span class="link"><a target="_blank" href="@Html.DisplayFor(modelItem => experience.link)">@Html.DisplayFor(modelItem => experience.Title)  @Html.ValueFor(model => experience.EndDate, "{0:dd/MM/yyyy}")</a></span></h3>

                                                    }
                                                    else
                                                    {
                                                        <h3 class="timeline-title"><span class="no-link">@Html.DisplayFor(modelItem => experience.Title) @Html.ValueFor(model => experience.EndDate, "{0:dd/MM/yyyy}")</span></h3>

                                                    }
                                                    <p><small class="text-muted"><i class="glyphicon glyphicon-check"></i> @Html.DisplayFor(modelItem => experience.Company)  @Html.ValueFor(modelItem => experience.StartDate, "{0:dd/MM/yyyy}") - @Html.ValueFor(modelItem => experience.EndDate, "{0:dd/MM/yyyy}") </small></p>
                                                </div>
                                                <div class="timeline-body">

                                                    @if (experience.Descriptions.Count > 0)
                                                    {
                                                        <p>@Html.DisplayHtml(experience.Descriptions.First().Description)</p>
                                                    }
                                                </div>

                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }
                            else
                            {
                                <li class="timeline-inverted">
                                    <div class="timeline-badge">@Html.DisplayFor(modelItem => experience.EndDate.Year)</div>
                                    <div class="timeline-panel animated rotateInDownRight">

                                        @if (experience.Pictures.Count > 0)
                                        {
                                            string fullPath = experience.Pictures.LastOrDefault().path + experience.Pictures.LastOrDefault().FileName;
                                            <div class="row">
                                                <div class="col-md-12 img-layout">
                                                    <img src="@fullPath" class="img-responsive">
                                                </div>
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="timeline-heading">

                                                    @if (experience.link != null)
                                                    {
                                                        <h3 class="timeline-title"><span class="link"><a target="_blank" href="@Html.DisplayFor(modelItem => experience.link)">@Html.DisplayFor(modelItem => experience.Title)  @Html.ValueFor(model => experience.EndDate, "{0:dd/MM/yyyy}")</a></span></h3>

                                                    }
                                                    else
                                                    {
                                                        <h3 class="timeline-title"><span class="no-link">@Html.DisplayFor(modelItem => experience.Title) @Html.ValueFor(model => experience.EndDate, "{0:dd/MM/yyyy}")</span></h3>

                                                    }
                                                    <p><small class="text-muted"><i class="glyphicon glyphicon-check"></i> @Html.DisplayFor(modelItem => experience.Company)  @Html.ValueFor(modelItem => experience.StartDate, "{0:dd/MM/yyyy}") - @Html.ValueFor(modelItem => experience.EndDate, "{0:dd/MM/yyyy}") </small></p>
                                                </div>
                                                <div class="timeline-body">

                                                    @if (experience.Descriptions.Count > 0)
                                                    {
                                                        <p>@Html.DisplayHtml(experience.Descriptions.First().Description)</p>
                                                    }
                                                </div>

                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }
                            count++;
                        }
                        <li>
                            <div class="start timeline-badge "><i class="glyphicon glyphicon-circle-arrow-up"></i></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- / END CONTAINER -->
    </section>  <!-- / END FOCUS SECTION -->
    @*<section class="separator-one" id="ribbon_bottom"><div class="color-overlay"><h3 class="container text" data-scrollreveal="enter left after 0s over 1s">Check out this cool parallax scrolling effect. Plus, you can change the background image.</h3><div data-scrollreveal="enter right after 0s over 1s"><a href="#" class="btn btn-primary custom-button green-btn">button</a></div></div></section>*@




    @*================[  Education section ]=======================*@
    @{count = 0; }
    <section class="testimonial" id="educationbackground">
        <div class="container">
            <div class="section-header">
                    <h2 class="white-text">Formation</h2>
                    <h6 class="white-text section-legend">Ci-dessous mon parcours scolaire.</h6>
                </div>
                <div class="row">
                    <div data-scrollreveal="enter right after 0s over 1s">
                        <ul class="timeline">
                            @foreach (var item in education)
                            {
                                if (count % 2 == 0)
                                {
                                    <li>
                                        <div class="timeline-badge">@Html.DisplayFor(modelItem => item.YearGraduate.Year)</div>
                                        <div class="timeline-panel animated rotateInDownLeft">
                                            @if (item.Pictures.Count > 0)
                                            {
                                                //string fullPath = "/Content"+"/Images"+"/Education/"+ item.Pictures.LastOrDefault().FileName;
                                                string fullPath = item.Pictures.LastOrDefault().path + item.Pictures.LastOrDefault().FileName;
                                                <div class="row">
                                                    <div class="col-md-12 img-layout">
                                                        <img src="@fullPath" class="img-responsive">
                                                    </div>
                                                </div>
                                            }


                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="timeline-heading">

                                                        @if (item.link != null)
                                                        {
                                                            <h3 class="timeline-title"><span><a target="_blank" href="@Html.DisplayFor(modelItem => item.link)">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.ValueFor(model => item.YearGraduate, "{0:dd/MM/yyyy}")</a></span></h3>
                                                        }
                                                        else
                                                        {
                                                            <h3 class="timeline-title"><span class="no-link">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.ValueFor(model => item.YearGraduate, "{0:dd/MM/yyyy}")</span></h3>

                                                        }

                                                        <p><small class="text-muted"><i class="glyphicon glyphicon-check"></i>  @Html.DisplayFor(model => item.NbYearsToGraduate) Year(s)</small>  </p>
                                                        @if (item.Descriptions.Count > 0)
                                                        {
                                                            <p>@Html.DisplayHtml(item.Descriptions.First().Description)</p>
                                                        }

                                                    </div><!--/panel-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge">@Html.DisplayFor(modelItem => item.YearGraduate.Year)</div>
                                        <div class="timeline-panel animated rotateInDownRight">
                                            @if (item.Pictures.Count > 0)
                                            {
                                                //string fullPath = "/Content"+"/Images"+"/Education/"+ item.Pictures.LastOrDefault().FileName;
                                                string fullPath = item.Pictures.LastOrDefault().path + item.Pictures.LastOrDefault().FileName;
                                                <div class="row">
                                                    <div class="col-md-12 img-layout">
                                                        <img src="@fullPath" class="img-responsive">
                                                    </div>
                                                </div>
                                            }


                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="timeline-heading">

                                                        @if (item.link != null)
                                                        {
                                                            <h3 class="timeline-title"><span><a target="_blank" href="@Html.DisplayFor(modelItem => item.link)">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.ValueFor(model => item.YearGraduate, "{0:dd/MM/yyyy}")</a></span></h3>
                                                        }
                                                        else
                                                        {
                                                            <h3 class="timeline-title"><span class="no-link">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.ValueFor(model => item.YearGraduate, "{0:dd/MM/yyyy}")</span></h3>

                                                        }

                                                        <p><small class="text-muted"><i class="glyphicon glyphicon-check"></i>  @Html.DisplayFor(model => item.NbYearsToGraduate) Year(s) </small></p>

                                                    </div><!--timeline-heading-->
                                                    @if (item.Descriptions.Count > 0)
                                                    {
                                                        <p>@Html.DisplayHtml(item.Descriptions.First().Description)</p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                
                                count++;
                            }

                            <li>
                                <div class="start timeline-badge "><i class="glyphicon glyphicon-circle-arrow-up"></i></div>
                            </li>
                        </ul>

                    </div>
            </div>
        </div>
    </section>

    @*<section class="purchase-now" id="ribbon_right"><div class="container"><div class="row"><div class="col-md-9" data-scrollreveal="enter left after 0s over 1s"><h3 class="white-text">Use these ribbons to display calls to action mid-page. </h3></div><div class="col-md-3" data-scrollreveal="enter right after 0s over 1s"><a href="http://www.codeinwp.com/blog/top-custom-post-types-plugins-for-wordpress/" class="btn btn-primary custom-button red-btn">View article</a></div></div></div></section>*@


    @*================[  Skills section ]=======================*@

    <section class="focus" id="skillsets">


        <div class="container">

            <!-- SECTION HEADER -->

            <div class="section-header">

                <!-- SECTION TITLE AND SUBTITLE -->

                <h2 class="dark-text">Competences</h2><div class="section-legend">Ci-dessous mes competences.</div>
            </div>

            <div data-scrollreveal="enter right after 0s over 1s">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3>Development</h3>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row coding">
                            @foreach (var item in skills)
                            {
                                if (item.CategoryViewModel.Title == "Coding")
                                {
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="panel panel-default">
                                            <div class="panel-thumbnail" style="padding: 8px;"><canvas name="@Html.DisplayFor(model => item.Title)" id="demo[@count]" property="@Html.DisplayFor(model => item.LevelsViewModel.Level)"></canvas></div>
                                            <div class="panel-body">
                                                <h4 class="text-center" style="">@Html.DisplayFor(model => item.Title)</h4>
                                                <p></p>
                                            </div>
                                        </div><!--/panel-->
                                    </div>

                                }
                                count++;
                            }
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3>Web design</h3>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row business">
                            @foreach (var item in skills)
            {
                if (item.CategoryViewModel.Title == "Business")
                {
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="panel panel-default">
                                            <div class="panel-thumbnail" style="padding: 8px;"><canvas name="@Html.DisplayFor(model => item.Title)" id="demo[@count]" property="@Html.DisplayFor(model => item.LevelsViewModel.Level)"></canvas></div>
                                            <div class="panel-body">
                                                <h4 class="text-center">@Html.DisplayFor(model => item.Title)</h4>
                                                <p></p>
                                            </div>
                                        </div><!--/panel-->
                                    </div>
                                }
                                count++;
                            }
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3>Personal skills</h3>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row others">
                            @foreach (var item in skills)
                            {
                                if (item.CategoryViewModel.Title == "Others")
                                {

                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="panel panel-default">
                                            <div class="panel-thumbnail" style="padding: 8px;"><canvas name="@Html.DisplayFor(model => item.Title)" id="demo[@count]" property="@Html.DisplayFor(model => item.LevelsViewModel.Level)"></canvas></div>
                                            <div class="panel-body latestnews-title">
                                                <h4 class="">@Html.DisplayFor(model => item.Title)</h4>
                                                <p></p>
                                            </div>
                                        </div><!--/panel-->
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>

                @if (skills.Where(x => x.CategoryViewModel.Title == "Certification").Count() > 0)
                {
                    <div class="row">
                        <div class="our-clients">
                            <h5>
                                <span class="section-footer-title">Certifications</span>
                            </h5>
                        </div>
                        <div class="client-list">
                            @foreach (var item in skills)
                            {
                                if (item.Pictures.Count > 0 && item.CategoryViewModel.Title == "Certification")
                                {
                                    foreach (var certificateImg in item.Pictures)
                                    {
                                        <div class="col-md-3">
                                            <img src="@certificateImg.path@certificateImg.FileName" />
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                }    

            </div>
        </div> <!-- / END CONTAINER -->
    </section>  <!-- / END FOCUS SECTION -->
    @*<section class="purchase-now" id="ribbon_right"><div class="container"><div class="row"><div class="col-md-9" data-scrollreveal="enter left after 0s over 1s"><h3 class="white-text">Use these ribbons to display calls to action mid-page. </h3></div><div class="col-md-3" data-scrollreveal="enter right after 0s over 1s"><a href="http://www.codeinwp.com/blog/top-custom-post-types-plugins-for-wordpress/" class="btn btn-primary custom-button red-btn">View article</a></div></div></div></section>*@

    <section class="separator-one" id="ribbon_bottom">
        <div class="color-overlay">
            <div data-scrollreveal="enter left after 0s over 1s">
                <p>Par Muhammad Ali.</p>
            </div>
            <div data-scrollreveal="enter right after 0s over 1s">
                <blockquote class="quote">
                    C'est la répétition d'une affirmation qui conduit a une croyance. Une fois cette croyance devient une profonde conviction, c'est le début d'une réalité.
                </blockquote>
            </div>
        </div>
    </section>


    @*================[  Projects section ]=======================*@

    <section class="latest-news project" id="latestprojects">
        <div class="container">
            <div class="section-header"><h2 class="dark-text">Projets</h2><div class="dark-text section-legend">Ci-dessous mes derniers projects.</div></div><!-- END .section-header --><div class="clear"></div>
            <div data-scrollreveal="enter right after 0s over 1s">
                <div class="row">
                    @foreach (var project in projects.OrderByDescending(x => x.ProjectDetail.Date).ToList())
                    {
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-thumbnail">
                                    @if (project.ProjectDetail != null && project.ProjectDetail.Pictures.Count() > 0 && project.ProjectDetail.Pictures.Where(y => y.FileName.Split('.').Count() > 1 && y.FileName.Split('.')[1] != "mp4").Count() > 0)
                                    {
                                        var img = project.ProjectDetail.Pictures.Where(y => y.FileName.Split('.').Count() > 1 && y.FileName.Split('.')[1] != "mp4").ElementAt(0);
                                        <img src="@img.path@img.FileName" class="img-responsive">
                                        @*<a href="/Projects/Details/@Html.DisplayFor(modelItem => project.ID)" title="@Html.DisplayFor(modelItem => project.Title)" target="_blank">
                                        </a>*@
                                    }
                                    else
                                    {
                                        <img src="~/Content/Images/Carousel/Singapour.jpg" class="img-responsive">
                                        @*<a href="/Projects/Details/@Html.DisplayFor(modelItem => project.ID)" title="@Html.DisplayFor(modelItem => project.Title)" target="_blank">
                                        </a>*@
                                    }

                                </div>
                                <div class="panel-body latesnews-content">
                                    <span class="latestnews-title">
                                        <a href="/Projects/Details/@Html.DisplayFor(modelItem => project.ID)" title="@Html.DisplayFor(modelItem => project.Title)" target="_blank">
                                            @Html.DisplayFor(modelItem => project.Title)
                                        </a>
                                    </span>
                                </div>
                            </div><!--/panel-->
                        </div>
                    }
                </div>
            </div>
        </div><!-- .container -->
    </section>


    @*================[  Contact section ]=======================*@

    <section class="contact" id="contactform">
        <div class="container">
            <!-- SECTION HEADER -->
            <div class="section-header">

                <h2 class="white-text">Me contacter</h2><div class="white-text section-legend"> </div>
            </div>
            <!-- / END SECTION HEADER -->
            <div data-scrollreveal="enter right after 0s over 1s">
                <div class="row">
                    <div class="pirate_forms_wrap">
                        <form action="/Home/Contact" class="pirate_forms" method="post" name="contactForm" onsubmit="return validateForm();">
                            @Html.AntiForgeryToken()


                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "firstName", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @id = "pirate-forms-contact-name", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "Email", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @id = "Phone", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-12">
                                        @Html.TextAreaFor(model => model.Comments, new { htmlAttributes = new { @id = "ContactComments", @class = "form-control" }, @style = "width: 100%; height: 200px;" })
                                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-offset-10 col-md-2 form_field_wrap contact_submit_wrap">
                                        <button type="submit" class="pirate-forms-submit-button">Envoyer</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="pirate_forms_clearfix"></div>
                    </div>
                </div>
            </div>
        </div> <!-- / END CONTAINER -->

    </section> <!-- / END CONTACT US SECTION-->

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        function resetFormError()
        {
            var errorName = document.getElementById("NameError");
            errorName.style.display = "none";

            var errorCompany = document.getElementById("CompanyError");
            errorCompany.style.display = "none";

            var errorEmail = document.getElementById("EmailError");
            errorEmail.style.display = "none";
        }

        resetFormError();

        function validateForm() {
            var errorDetected = "";
            resetFormError();
            var name = document.forms["contactForm"]["Name"].value;
            if (name == "")
            {
                var errorName = document.getElementById("NameError");
                errorName.innerHTML = "Veuillez fournir un nom de contact.";
                errorName.style.display = "block";
                errorDetected += "name;";
            }

            var company = document.forms["contactForm"]["Company"].value;
            if (company == "") {
                var errorCompany = document.getElementById("CompanyError");
                errorCompany.innerHTML = "Veuillez fournir le nom d'une organisation ou d'une société.";
                errorCompany.style.display = "block";
                errorDetected += "company;";
            }

            var email = document.forms["contactForm"]["Email"].value;
            if (email == "") {
                var errorEmail = document.getElementById("EmailError");
                errorEmail.innerHTML = "Veuillez fournir un email.";
                errorEmail.style.display = "block";
                errorDetected += "email;";
            }

            if (errorDetected == "")
                return true;
            else
                return false;

        }

    </script>
}



