@using DagoWebPortfolio.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

    ViewBag.ReturnUrl = ViewBag.ReturnUrl ?? "/Home/index";
}
<div class="login-home">

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i>@ViewBag.Title.</p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger", placeholder = "Username" })
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", placeholder = "Password" })
            </div>
            @*<label class="checkbox">
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)
        <span class="pull-right"> <a href="/Account/ForgotPassword"> Forgot Password?</a></span>
    </label>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
        <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>*@

            <button class="btn btn-primary btn-lg btn-group" type="submit">Login</button>
            @*<a href="/Account/Register" class="btn btn-info btn-lg btn-group">Signup</a>*@
        </div>

    }




</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}