@model DagoWebPortfolio.Models.ContactViewModel

@{
    ViewBag.Title = "CONTACT";
    Layout = "";
}
 
<div class="contact-home">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="title">
                            <h1>@ViewBag.Title</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <section class="bg-4">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           

            <div class="col-sm-10 col-sm-offset-1">

                <div class="row">
                    <div class="col-md-4">
                        <h1 class="title">Contact Me</h1>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="row form-group">
                    <div class="col-xs-4 col-md-offset12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "firstName", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-6">
                        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @id = "organization", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-5">
                        <!--<input type="text" class="form-control" name="email" placeholder="Email"><!---->
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "Email", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-5">
                        <!--<input type="text" class="form-control" name="phone" placeholder="Phone"><!---->
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @id = "Phone", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-10">
                        <!--<textarea class="form-control" placeholder="Comments"></textarea><!---->
                        @Html.TextAreaFor(model => model.Comments, new { htmlAttributes = new { @id = "Comments", @class = "form-control" }, @style = "width: 100%; height: 200px;" })
                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-10">
                        <button class="btn btn-default pull-right">Send</button>
                    </div>
                </div>
            </div>
        }

    </section>
</div>

<div class="divider"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<script src="~/Content/Modules/tinymce/js/tinymce/tinymce.min.js"></script>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/Content/Scripts/scripts.js"></script>
-->
<script>
      tinymce.init({
          selector: 'textarea',
          //plugins: 'a_tinymce_plugin',
          a_plugin_option: true,
          a_configuration_option: 400
      });
</script>




<div class="divider"></div>