@model IEnumerable<DagoWebPortfolio.Models.SkillsViewModel>

@{
    Layout = "";
    ViewBag.Title = "SKILLS";

    int count = 0;
}
@*
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
*@

<div class="skills-home">
    @*<div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="title">
                            <h3>@ViewBag.Title</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <div class="divider"></div>

    @*<div class="container">*@
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Development</h3>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row coding">
                    @foreach (var item in Model)
            {
                if (item.CategoryViewModel.Title == "Coding")
                {
                            <div class="col-md-8 col-md-offset-2">
                                <div class="panel panel-default">
                                    <div class="panel-thumbnail"><canvas name="@Html.DisplayFor(model => item.Title)" id="demo[@count]" property="@Html.DisplayFor(model => item.LevelsViewModel.Level)"></canvas></div>
                                    <div class="panel-body text-center">
                                        <h4 class="">@Html.DisplayFor(model => item.Title)</h4>
                                        <p></p>
                                    </div>
                                </div><!--/panel-->
                            </div><!--/col-->

                        }
                        count++;
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Web design</h3>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row business">
                    @foreach (var item in Model)
            {
                if (item.CategoryViewModel.Title == "Business")
                {

                            <div class="col-md-8 col-md-offset-2">
                                <div class="panel panel-default">
                                    <div class="panel-thumbnail"><canvas name="@Html.DisplayFor(model => item.Title)" id="demo[@count]" property="@Html.DisplayFor(model => item.LevelsViewModel.Level)"></canvas></div>
                                    <div class="panel-body text-center">
                                        <h4 class="">@Html.DisplayFor(model => item.Title)</h4>
                                        <p></p>
                                    </div>
                                </div><!--/panel-->
                            </div>
                        }
                        count++;
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Personal skills</h3>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row others">
                    @foreach (var item in Model)
                    {
                        if (item.CategoryViewModel.Title == "Others")
                        {

                            <div class="col-md-8 col-md-offset-2">
                                <div class="panel panel-default">
                                    <div class="panel-thumbnail"><canvas name="@Html.DisplayFor(model => item.Title)" id="demo[@count]" property="@Html.DisplayFor(model => item.LevelsViewModel.Level)"></canvas></div>
                                    <div class="panel-body text-center">
                                        <h4 class="">@Html.DisplayFor(model => item.Title)</h4>
                                        <p></p>
                                    </div>
                                </div><!--/panel-->
                            </div>
                        }

                    }
                </div>
            </div>
        </div>
    @*</div>*@

    @*@if (Model.Where(x => x.CategoryViewModel.Title == "Coding").Count() > 0)
    {
        <section class="bg-3">
            <div class="col-sm-6 col-sm-offset-3 text-center section-title"><h3>Coding</h3></div>
        </section>

        <section class="bg-4">
            <div class="row coding">
                @foreach (var item in Model)
                {
                    if (item.CategoryViewModel.Title == "Coding")
                    {
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-thumbnail"><canvas name="@Html.DisplayFor(model => item.Title)" id="demo[@count]" property="@Html.DisplayFor(model => item.LevelsViewModel.Level)"></canvas></div>
                                <div class="panel-body text-center">
                                    <h3 class="title">@Html.DisplayFor(model => item.Title)</h3>
                                    <p></p>
                                </div>
                            </div><!--/panel-->
                        </div><!--/col-->
                        
                    }
                    count++;
                }
            </div>
        </section>
    }



    <div class="divider"></div>

    @if (Model.Where(x => x.CategoryViewModel.Title == "Business").Count() > 0)
    {
        <section class="bg-3">
            <div class="col-sm-6 col-sm-offset-3 text-center section-title"><h3>Business</h3></div>
        </section>


        <div class="bg-4">
           <div class="row business">
                @foreach (var item in Model)
                {
                    if (item.CategoryViewModel.Title == "Business")
                    {

                        <div class="col-md-4 col-md-offset-4">
                            <div class="panel panel-default">
                                <div class="panel-thumbnail"><canvas name="@Html.DisplayFor(model => item.Title)" id="demo[@count]" property="@Html.DisplayFor(model => item.LevelsViewModel.Level)"></canvas></div>
                                <div class="panel-body text-center">
                                    <h4 class="title">@Html.DisplayFor(model => item.Title)</h4>
                                    <p></p>
                                </div>
                            </div><!--/panel-->
                        </div>
                    }
                    count++;
                }
            </div>
        </div>
    }
    <div class="divider"></div>


    @if (Model.Where(x => x.CategoryViewModel.Title == "Others").Count() > 0)
    {

        <section class="bg-3">
            <div class="col-sm-6 col-sm-offset-3 text-center section-title"><h3 >Others</h3></div>
        </section>


        <div class="bg-4">
            <div class="row others">
                @foreach (var item in Model)
                {
                    if (item.CategoryViewModel.Title == "Others")
                    {

                        <div class="col-md-4 col-md-offset-8">
                            <div class="panel panel-default">
                                <div class="panel-thumbnail"><canvas name="@Html.DisplayFor(model => item.Title)" id="demo[@count]" property="@Html.DisplayFor(model => item.LevelsViewModel.Level)"></canvas></div>
                                <div class="panel-body text-center">
                                    <h4 class="title">@Html.DisplayFor(model => item.Title)</h4>
                                    <p></p>
                                </div>
                            </div><!--/panel-->
                        </div>
                    }

                }
            </div>
        </div>

    }
    </div>
    

    <div class="divider"></div>*@

    <script type="text/javascript">
        $(document).ready(function () {
            var param = 0;
            var value = 0;
            var name = "";
            var listColor = ['#33f5fe', '#E53238', '#7F677F', '#c1fc2f', '#88E000'];
            $("canvas[id^=demo]").each(function () {
                value = $(this).attr("property");
                name = $(this).attr("name");
                param = value / 100;
                $(this).waterbubble({

                    // bubble size
                    radius: 50,

                    // border width
                    lineWidth: undefined,

                    // data to present
                    data: param,

                    // color of the water bubble
                    waterColor: listColor[Math.floor(Math.random() * listColor.length)],//'rgba(25, 139, 201, 1)',

                    // text color
                    textColor: 'rgba(06, 85, 128, 0.8)',

                    // custom font family
                    font: '',

                    // show wave
                    wave: true,

                    // custom text displayed inside the water bubble
                    txt: value + "%",

                    // enable water fill animation
                    animation: true

                });
            });
            
        });
    </script>
