@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Portfolio</title>
    @Styles.Render("~/Content/css")
    

</head>
<body>

    <div></div>

    <div id="myCarousel" class="carousel-home-header container slide">
        <div class="carousel-inner">
            <div class="active item one"></div>
            <div class="item two"></div>
            <div class="item three"></div>
        </div>
    </div>

    <div class="navbar-header">
        
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Portfolio", "_Welcome", "Home", new { area = "" }, new { @class = "navbar-brand2" })

        
       
 

        <div class="control">
            <ul class="nav nav-tabs">

                <li class="Skills active">
                    @if (Request.IsAuthenticated)
            { @Html.ActionLink("Skills", "Index", "Skills")}
            else
            { <a>Skills</a>}
                </li>
                <li class="Experiences">
                    @if (Request.IsAuthenticated)
                    { @Html.ActionLink("Experiences", "Index", "Experiences")}
                    else
                    { <a>Experiences</a>}
                </li>
                <li class="Projects">
                    @if (Request.IsAuthenticated)
                    { @Html.ActionLink("Projects", "Index", "Projects")}
                    else
                    { <a>Projects</a>}
                </li>
                <li class="Education">
                    @if (Request.IsAuthenticated)
                    { @Html.ActionLink("Education", "Index", "Education")}
                    else
                    { <a>Education</a>}
                </li>
                <li class="Contact">
                    @if (Request.IsAuthenticated)
                    { @Html.ActionLink("Contact", "Contact", "Home")}
                    else
                    { <a>Contact</a>}
                </li>
                <li class="About">
                    @if (Request.IsAuthenticated)
                    { @Html.ActionLink("About", "About", "Home")}
                    else
                    { <a>About</a>}
                </li>

                @if (Request.IsAuthenticated)
                {
                    <li class="Levels">
                        @Html.ActionLink("Levels", "Index", "Levels")
                    </li>
                }


            </ul>
    </div>
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("_LoginPartial")
    }
    </div>

    <div class="home-page container body-content">

        @RenderBody()

    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - eric.dago.225@gmail.com </p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

    @RenderSection("scripts", required: false)
</body>
</html>
