@model IEnumerable<DagoWebPortfolio.Models.ProjectsViewModel>
@using DagoWebPortfolio.Models.CustomHelpers
@{
    Layout = "";
    ViewBag.Title = "PROJECTS";
}

@* About me section *@



<section class="focus" id="focus">
    <div class="container">

        <!-- SECTION HEADER -->

        <div class="section-header">

            <!-- SECTION TITLE AND SUBTITLE -->

            <h2 class="dark-text">FEATURES</h2><div class="section-legend">What makes this single-page WordPress theme unique.</div>
        </div>

        <div class="row">

            <span id="ctup-ads-widget-1" class="">
                <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">

                    <a href="#" class="service-icon">
                        <span class="sr-only">
                            Go to			                    PARALLAX EFFECT
                        </span>

                        <i class="pixeden" style="background:url(http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/05/parallax.png) no-repeat center;width:100%; height:100%;"></i>
                    </a>




                    <h3 class="red-border-bottom">PARALLAX EFFECT</h3>
                    <!-- FOCUS HEADING -->

                    <p>Create memorable pages with smooth parallax effects that everyone loves. Also, use our lightweight content slider offering you smooth and great-looking animations.</p>

                </div>

            </span><span id="ctup-ads-widget-3" class="">
                <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">

                    <a href="#" class="service-icon">
                        <span class="sr-only">
                            Go to			                    WOOCOMMERCE
                        </span>

                        <i class="pixeden" style="background:url(http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/05/woo.png) no-repeat center;width:100%; height:100%;"></i>
                    </a>




                    <h3 class="red-border-bottom">WOOCOMMERCE</h3>
                    <!-- FOCUS HEADING -->

                    <p>
                        Build a front page for your WooCommerce store in a matter of minutes. The neat and clean presentation will help your sales and make your store accessible to everyone.
                    </p>

                </div>

            </span><span id="ctup-ads-widget-4" class="">
                <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">

                    <a href="#" class="service-icon">
                        <span class="sr-only">
                            Go to			                    CUSTOM CONTENT BLOCKS
                        </span>

                        <i class="pixeden" style="background:url(http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/05/ccc.png) no-repeat center;width:100%; height:100%;"></i>
                    </a>




                    <h3 class="red-border-bottom">CUSTOM CONTENT BLOCKS</h3>
                    <!-- FOCUS HEADING -->

                    <p>
                        Showcase your team, products, clients, about info, testimonials, latest posts from the blog, contact form, additional calls to action. Everything translation ready.
                    </p>

                </div>

            </span><span id="ctup-ads-widget-5" class="">
                <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">

                    <a href="#" class="service-icon">
                        <span class="sr-only">
                            Go to			                    GO PRO FOR MORE FEATURES
                        </span>

                        <i class="pixeden" style="background:url(http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/05/ti-logo.png) no-repeat center;width:100%; height:100%;"></i>
                    </a>




                    <h3 class="red-border-bottom">GO PRO FOR MORE FEATURES</h3>
                    <!-- FOCUS HEADING -->

                    <p>Get new content blocks: pricing table, Google Maps, and more. Change the sections order, display each block exactly where you need it, customize the blocks with whatever colors you wish.</p>

                </div>

            </span>
        </div>

    </div> <!-- / END CONTAINER -->


</section>  <!-- / END FOCUS SECTION -->







<div class="projects projects-home">
    @*<div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="title">
                                <h1 class="text">@ViewBag.Title</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="divider" id="section[top]"></div>
    
    <section>
        @foreach (var project in Model)
        {           
            <div class="row summary">
                <hr>
                <div class="col-md-8 summary-head">
                    <div class="project-title">
                        <h3> <a target="_blank" href="/Projects/Details/@Html.DisplayFor(modelItem => project.ID)"><span>@Html.DisplayFor(modelItem => project.Title)</span>  <span class="date">@Html.ValueFor(modelItem => project.ProjectDetail.Date, "{0:dd/MM/yyyy}")</span></a></h3>
                    </div><!--/panel-->
                    @Html.DisplayHtml(project.Resume)
                </div><!--/col-->
                <div class="col-md-4 img-layout">
                    <a target="_blank" href="/Projects/Details/@Html.DisplayFor(modelItem => project.ID)">
                        @if (project.ProjectDetail.Pictures.Count() > 0)
                        {
                            <img src="@Html.DisplayFor(modelItem => project.ProjectDetail.Pictures.ElementAt(0).path)@Html.DisplayFor(modelItem => project.ProjectDetail.Pictures.ElementAt(0).FileName)" class="img-responsive">
                        }
                        else
                        {
                            <img src="~/Content/Images/Carousel/Singapour.jpg" class="img-responsive">
                        }
                    </a>
                </div>
            </div>
        }
    </section> 
</div>




