@model DagoWebPortfolio.Models.ProjectsViewModel
@using DagoWebPortfolio.Models.CustomHelpers
@using DagoWebPortfolio.Classes

@{
    Layout = "~/Views/Shared/_LayoutProjectDetails.cshtml";
    ViewBag.Title = Model.Title;
}


<div class="projects project-details">
    <div class="row">
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1 class="text">@ViewBag.Title</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <a href="javascript:close_winwow();"><i class="glyphicon glyphicon-remove" style="font-size:50px;"></i></a>
        </div>
    </div>

    <div class="divider" id="section[top]"></div>

    <div class="row">
        <div class="col-md-6">
            <p>
                @Html.DisplayHtml(Model.Resume)
                @Html.DisplayHtml(Model.ProjectDetail.Description)
            </p>
        </div>
        <div class="col-md-6">

            @if (Model.ProjectDetail != null && Model.ProjectDetail.Pictures.Count() > 0 && Model.ProjectDetail.Pictures.Where(y => y.FileName.Split('.')[1] != "mp4").Count() > 0)
            {
                <img src="@Html.DisplayFor(modelItem => Model.ProjectDetail.Pictures.Where(y => y.FileName.Split('.')[1] != "mp4").ElementAt(0).path)@Html.DisplayFor(modelItem => Model.ProjectDetail.Pictures.Where(y => y.FileName.Split('.')[1] != "mp4").ElementAt(0).FileName)" width="600">
            }

            @if (Model.ProjectDetail != null && Model.ProjectDetail.Pictures.Count() > 0 && Model.ProjectDetail.Pictures.Where(y => y.FileName.Split('.')[1] == "mp4").Count() > 0)
            {
               <video style="margin-top: 50px;" width="600" id="ourvideo" autoplay loop preload="auto" controls="controls" muted>
                    <source src="@Html.DisplayFor(modelItem => Model.ProjectDetail.Pictures.Where(y => y.FileName.Split('.')[1] == "mp4").ElementAt(0).path)@Html.DisplayFor(modelItem => Model.ProjectDetail.Pictures.Where(y => y.FileName.Split('.')[1] == "mp4").ElementAt(0).FileName)" type='video/mp4' />
                </video>
                    <div id="footnote"></div>
            }

        </div>
    </div>

</div>

<div class="divider"></div>

<script type="text/javascript">

    function close_winwow() {
        window.close();
    }
</script>