@model DagoWebPortfolio.Models.ProjectsViewModel
@using DagoWebPortfolio.Models.CustomHelpers

@{
    Layout = "~/Views/Shared/_LayoutProjectDetails.cshtml";
    ViewBag.Title = Model.Title;
    var count = 0;
    var count2 = 0;
}


<div class="projects project-details">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-12 col-md-offset-2">
                        <div class="title">
                            <h1 class="text">@ViewBag.Title</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider" id="section[top]"></div>

    <section>
        <div class="container">
            <div class="row">

                @foreach (var picture in Model.ProjectDetail.Pictures)
                {
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <a href="#section[@count]">
                                <div class="panel-thumbnail">
                                    <img src="@Html.DisplayFor(modelItem => picture.path)@Html.DisplayFor(modelItem => picture.FileName)" class="img-responsive">
                                </div>
                                <div class="panel-body text-center">
                                    <h4 class="title">@Html.DisplayFor(modelItem => picture.Subject)</h4>
                                    <p></p>
                                </div>
                            </a>
                        </div><!--/panel-->
                    </div><!--/col-->
                    count++;
                }


            </div>
        </div>
    </section>
    <div class="divider"></div>

    @foreach (var picture in Model.ProjectDetail.Pictures)
    {
        <div class="section-divider" id="section[@count2]"></div>

        <section class="bg-3">
            <div class="row">
                <div class="col-md-11 text-center">
                    <h2 class="title"><span>@Html.DisplayFor(modelItem => picture.Subject)</span></h2>
                </div>
                <div class="col-md-1 button-back">
                    <a href="#section[top]">Top</a>
                </div>
            </div>
        </section>
        
        <section class="bg-4">
            <div class="row">
                <div class="col-md-8">

                    <div class="row">

                        <div class="col-md-12 img-layout">
                            <img src="@Html.DisplayFor(modelItem => picture.path)@Html.DisplayFor(modelItem => picture.FileName)" class="img-responsive" />
                        </div><!--/panel-->


                    </div>
                    <div class="divider"></div>
                </div><!--/col-->
                <div class="col-md-4">
                    <div class="project-title">
                        @if (picture.link != null)
                        {
                            <h3 class="title"> <a target="_blank" href="@Html.DisplayFor(modelItem => picture.link)"><span>@Html.DisplayFor(modelItem => picture.Subject)</span>  </a></h3>

                        }
                        else
                        {
                            <h3 class="no-link title">@Html.DisplayFor(modelItem => picture.Subject) </h3>

                        }
                    </div><!--/panel-->
                    <div class="summary-head">
                        @Html.DisplayHtml(picture.Description)
                    </div><!--/panel-->

                </div><!--/col-->
            </div>
        </section>

        count2++;
    }


</div>

<div class="divider"></div>
