@model DagoWebPortfolio.Models.ProjectsViewModel
@using DagoWebPortfolio.Models.CustomHelpers
@using DagoWebPortfolio.Classes

@{
    Layout = "~/Views/Shared/_LayoutProjectDetails.cshtml";
    ViewBag.Title = Model.Title;
    var count = 0;
}


<div class="projects project-details">
    <div class="row">
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1 class="text">@ViewBag.Title</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <a href="javascript:close_winwow();"><i class="glyphicon glyphicon-remove" style="font-size:50px;"></i></a>
        </div>
    </div>

    <div class="divider" id="section[top]"></div>

    <div class="row">
        <div class="col-md-6">
            <p>
                @Html.DisplayHtml(Model.Resume)
            @Html.DisplayHtml(Model.ProjectDetail.Description)
        </p>
    </div>
    <div class="col-md-6">

        @foreach (var picture in Model.ProjectDetail.Pictures)
        {
            if (count == 0)
            {
                <img src="@Html.DisplayFor(modelItem => picture.path)@Html.DisplayFor(modelItem => picture.FileName)" class="">
            }
            else
            {
                if (picture.FileName.Split('.').Count() > 1 && picture.FileName.Split('.')[1] == "mp4")
                {
                    string fileFullPath = Utility.getDirectory(picture.path, picture.FileName);
                    <video style="margin-top: 50px;" width="750" id="ourvideo" autoplay loop preload="auto" controls="controls" muted>
                        <source src="@Html.DisplayFor(model=>picture.path)@Html.DisplayFor(model=>picture.FileName)" type='video/mp4' />
                    </video>
                            <div id="footnote"></div>
                }
            }
            count++;
        }

    </div>
</div>

</div>

<div class="divider"></div>

<script type="text/javascript">

    function close_winwow() {
        window.close();
    }
</script>