@model IEnumerable<DagoWebPortfolio.Models.EducationViewModel>
@using DagoWebPortfolio.Models.CustomHelpers
@{
    Layout = "";
    ViewBag.Title = "EDUCATION";
    var count = 0;
    string[] _glyphicons = new string[4];
    _glyphicons[0] = "glyphicon-check";
    _glyphicons[1] = "glyphicon-credit-card";
    _glyphicons[2] = "glyphicon-floppy-disk";
    _glyphicons[3] = "glyphicon-thumbs-up";

    string[] _colors_class = new string[5];
    _colors_class[0] = "primary";
    _colors_class[1] = "success";
    _colors_class[2] = "warning";
    _colors_class[3] = "danger";
    _colors_class[4] = "info";

    var rd = new Random();
}

<div class="education-home">

    @*<div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="title">
                            <h1>@ViewBag.Title</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <div class="divider"></div>

    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-12">
                        <ul class="timeline">
                            @foreach (var item in Model)
                            {
                                if (count % 2 == 0)
                                {
                                    <li>
                                        <div class="timeline-badge @_colors_class[rd.Next(0, 4)]"><i class="glyphicon @_glyphicons[rd.Next(0,3)]"></i></div>
                                        <div class="timeline-panel animated rotateInDownLeft">
                                            @if (item.Pictures.Count > 0)
                                            {
                                                //string fullPath = "/Content"+"/Images"+"/Education/"+ item.Pictures.LastOrDefault().FileName;
                                                string fullPath = item.Pictures.LastOrDefault().path + item.Pictures.LastOrDefault().FileName;
                                                <div class="row">
                                                    <div class="col-md-12 img-layout">
                                                        <img src="@fullPath" class="img-responsive">
                                                    </div>
                                                </div>
                                            }


                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="timeline-heading">

                                                        @if (item.link != null)
                                                        {
                                                            <h3 class="timeline-title"><span ><a target="_blank" href="@Html.DisplayFor(modelItem => item.link)">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.ValueFor(model => item.YearGraduate, "{0:dd/MM/yyyy}")</a></span></h3>
                                                        }
                                                        else
                                                        {
                                                            <h3 class="timeline-title"><span class="no-link">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.ValueFor(model => item.YearGraduate, "{0:dd/MM/yyyy}")</span></h3>

                                                        }
                                                    </div><!--/panel-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge @_colors_class[rd.Next(0, 4)]"><i class="glyphicon @_glyphicons[rd.Next(0,3)]"></i></div>
                                        <div class="timeline-panel animated rotateInDownRight">
                                            @if (item.Pictures.Count > 0)
                                            {
                                                //string fullPath = "/Content"+"/Images"+"/Education/"+ item.Pictures.LastOrDefault().FileName;
                                                string fullPath = item.Pictures.LastOrDefault().path + item.Pictures.LastOrDefault().FileName;
                                                <div class="row">
                                                    <div class="col-md-12 img-layout">
                                                        <img src="@fullPath" class="img-responsive">
                                                    </div>
                                                </div>
                                            }


                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="timeline-heading">

                                                        @if (item.link != null)
                                                        {
                                                            <h3 class="timeline-title"><span ><a target="_blank" href="@Html.DisplayFor(modelItem => item.link)">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.ValueFor(model => item.YearGraduate, "{0:dd/MM/yyyy}")</a></span></h3>
                                                        }
                                                        else
                                                        {
                                                            <h3 class="timeline-title"><span class="no-link">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.ValueFor(model => item.YearGraduate, "{0:dd/MM/yyyy}")</span></h3>

                                                        }

                                                        <p><small class="text-muted"><i class="glyphicon glyphicon-check"></i>  @Html.DisplayFor(model => item.NbYearsToGraduate) Year(s) </small></p>

                                                    </div><!--timeline-heading-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }



                                @*<div class="divider"></div>*@

                                count++;
                            }
                            <li>
                                <div class="start timeline-badge "></div>
                            </li>
                        </ul>
                        @*<div class="divider"></div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




