@model IEnumerable<DagoWebPortfolio.Models.EducationViewModel>
@using DagoWebPortfolio.Models.CustomHelpers
@{
    Layout = "";
    ViewBag.Title = "EDUCATION";
    var count = 0;
    string[] _glyphicons = new string[4];
    _glyphicons[0] = "glyphicon-check";
    _glyphicons[1] = "glyphicon-credit-card";
    _glyphicons[2] = "glyphicon-floppy-disk";
    _glyphicons[3] = "glyphicon-thumbs-up";

    string[] colors = new string[5];
    colors[0] = "rgba(229,225,206,.6)";
    colors[1] = "rgba(84,140,191,.6)";
    colors[2] = "rgba(237,28,36,.6)";
    colors[3] = "rgba(34,177,76,.6)";
    colors[4] = "rgba(195,195,195,.6)";

    var rd = new Random();
}

<div class="education-home">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="title">
                            <h1>@ViewBag.Title</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-12">
                        <ul class="timeline">
                            @foreach (var item in Model)
                            {
                                if (count % 2 == 0)
                                {
                                    <li>
                                        <div class="timeline-badge" style="background-color: @colors[rd.Next(0, 4)];"><i class="glyphicon @_glyphicons[rd.Next(0,3)]"></i></div>
                                        <div class="timeline-panel animated rotateInDownLeft">

                                            <div class="row">
                                                <div class="col-md-12 img-layout">
                                                    <img src="@Html.DisplayFor(modelItem => item.Pictures.Max().path)@Html.DisplayFor(modelItem => item.Pictures.Max().FileName)" class="img-responsive">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="timeline-heading">

                                                        @if (item.link != null)
                                                        {
                                                            <h2 class="timeline-title"><span class="title"><a target="_blank" href="@Html.DisplayFor(modelItem => item.link)">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.DisplayFor(model => item.YearGraduate)</a></span></h2>
                                                        }
                                                        else
                                                        {
                                                            <h2 class="timeline-title"><span class="no-link title">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.DisplayFor(model => item.YearGraduate)</span></h2>

                                                        }

                                                        <p><small class="text-muted"><i class="glyphicon glyphicon-check"></i>  @Html.DisplayFor(model => item.NbYearsToGraduate) Year(s)</small>  </p>
                                                        <p>@Html.DisplayHtml(item.Description)</p>
                                                    </div><!--/panel-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge" style="background-color: @colors[rd.Next(0, 4)];"><i class="glyphicon @_glyphicons[rd.Next(0,3)]"></i></div>
                                        <div class="timeline-panel animated rotateInDownRight">

                                            <div class="row">
                                                <div class="col-md-12 img-layout">
                                                    <img src="@Html.DisplayFor(modelItem => item.Pictures.Max().path)@Html.DisplayFor(modelItem => item.Pictures.Max().FileName)" class="img-responsive">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="timeline-heading">

                                                        @if (item.link != null)
                                                        {
                                                            <h2 class="timeline-title"><span class="title"><a target="_blank" href="@Html.DisplayFor(modelItem => item.link)">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.DisplayFor(model => item.YearGraduate)</a></span></h2>
                                                        }
                                                        else
                                                        {
                                                            <h2 class="timeline-title"><span class="no-link title">@Html.DisplayFor(modelItem => item.SchoolName) - @Html.DisplayFor(model => item.YearGraduate)</span></h2>

                                                        }

                                                        <p><small class="text-muted"><i class="glyphicon glyphicon-check"></i>  @Html.DisplayFor(model => item.NbYearsToGraduate) Year(s) </small></p>
                                                        <p>@Html.DisplayHtml(item.Description)</p>
                                                    </div><!--/panel-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }


                                <div class="divider"></div>

                                count++;
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="divider"></div>


@Scripts.Render("~/bundles/bootstrap")





